{% extends './base.html' %}
{% load static %}
{% block content %}

<h1 class="modal-title" style=" margin-left: 500px;">Department Detail</h1>


<div class="card" style="width: 18rem; margin-left: 500px;">
    <img src="{% static 'images/4.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ department.name }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Department ID: {{ department.id }}</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="{% url 'department_update' department.id %}" class="btn btn-primary">Update</a>
      <a class="btn btn-secondary ml-2" href="{% url 'department_list' %}">back</a>

    </div>
  </div>
{% endblock %}