




<!-- Remove the container if you want to extend the Footer to full width. -->
<div class=" foot container my-5 ">

    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white foo"
            style="background-color: #1c2331"
            >
      <!-- Section: Social media -->
      <section
               class="d-flex justify-content-between p-4 sec"
               style="background-color: #6351ce"
               >
        <!-- Left -->
        <div class="me-5">
          <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->
  
        <!-- Right -->
        <div>
          <a href="" class="text-white me-4">
            
            <i class="bi bi-facebook"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="bi bi-twitter"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="bi bi-google"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="bi bi-linkedin"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="bi bi-github"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->

      <!-- Section: Links  -->
  
      <!-- Copyright -->
      <div
           class="text-center p-3"
           
           >
        © 2020 Copyright:
        <a class="text-white" href="http://www.uoh-edu.net/"
           >UOH</a
          >
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  
  </div>
  <!-- End of .container -->
