{% extends './base.html' %}

{% block content %}


<h1>Teacher Signup</h1>

<form method="post">
  {% csrf_token %}

  <div class="form-group">
    <label for="{{ form.firstname.id_for_label }}">firstname</label>
    {{ form.firstname }}
    {% if form.firstname.errors %}
        <div class="alert alert-danger">{{ form.firstname.errors }}</div>
    {% endif %}
</div>

<div class="form-group">
    <label for="{{ form.lastname.id_for_label }}">lastname</label>
    {{ form.lastname }}
    {% if form.lastname.errors %}
        <div class="alert alert-danger">{{ form.lastname.errors }}</div>
    {% endif %}
</div>


  <div class="form-group">
      <label for="{{ form.username.id_for_label }}">Username</label>
      {{ form.username }}
      {% if form.username.errors %}
          <div class="alert alert-danger">{{ form.username.errors }}</div>
      {% endif %}
  </div>

<div class="form-group">
    <label for="{{ form.email.id_for_label }}">Email</label>
    {{ form.email }}
    {% if form.email.errors %}
        <div class="alert alert-danger">{{ form.email.errors }}</div>
    {% endif %}
</div>

  <div class="form-group">
      <label for="{{ form.password1.id_for_label }}">Password</label>
      {{ form.password1 }}
      {% if form.password1.errors %}
          <div class="alert alert-danger">{{ form.password1.errors }}</div>
      {% endif %}
  </div>

  <div class="form-group">
      <label for="{{ form.password2.id_for_label }}">Password Confirmation</label>
      {{ form.password2 }}
      {% if form.password2.errors %}
          <div class="alert alert-danger">{{ form.password2.errors }}</div>
      {% endif %}
  </div>

  <div class="form-group">
    <label for="{{ form.teacher_id.id_for_label }}">teacher_id</label>
    {{ form.teacher_id }}
    {% if form.teacher_id.errors %}
        <div class="alert alert-danger">{{ form.teacher_id.errors }}</div>
    {% endif %}
</div>

<div class="form-group">
    <label for="{{ form.is_superuser.id_for_label }}">is_superuser</label>
    {{ form.is_superuser }}
    {% if form.is_superuser.errors %}
        <div class="alert alert-danger">{{ form.is_superuser.errors }}</div>
    {% endif %}
</div>

<div class="form-group">
    <label for="{{ form.is_staff.id_for_label }}">is_staff</label>
    {{ form.is_staff }}
    {% if form.is_staff.errors %}
        <div class="alert alert-danger">{{ form.is_staff.errors }}</div>
    {% endif %}
</div>

<div class="form-group">
    <label for="{{ form.is_activate.id_for_label }}">is_activate</label>
    {{ form.is_active }}
    {% if form.is_active.errors %}
        <div class="alert alert-danger">{{ form.is_active.errors }}</div>
    {% endif %}
</div>

  <div class="form-group">
    <label for="{{ form.is_teacher.id_for_label }}">is teacher</label>
    {{ form.is_teacher }}
    {% if form.is_teacher.errors %}
        <div class="alert alert-danger">{{ form.is_teacher.errors }}</div>
    {% endif %}
</div>

  <button type="submit" class="btn btn-primary">Sign Up</button>
</form>



{% endblock  %}
